/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-popup {
	.frm-field {
		margin-bottom: 3rem;
	}
	.frm-row-submit {
		.frm-field {
			margin: 0;
		}
		.btn {
			width: 100%;
		}
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-select {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}


.frm-select {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	input {
		&:checked {
			&~label {
				&:before {
					background-color: var(--clr-att);
					border-color: var(--clr-att);
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		min-height: 24px;
		padding-left: 37px;
		&:before, &:after {
			width: 22px;height: 22px;
			border-radius: 6px;
			border: 1px solid #878787;
			top: 12px;left: 11px;
			margin: -11px 0 0 -11px;
			transition: all ease 0.2s;
		}
		&:after {
			width: 10px;height: 10px;
			background: #fff;
			margin: -5px 0 0 -5px;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}