:root {
	--clr-base: #000;
	--clr-att: #f00;

	--min: 320px;
	--max: 1200px;

	font-size: 10px;
}
.sl-wrap~.sl-wrap {
	display: none;
}
.elm-hidden {
	display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
	color: var(--clr-base, #000);
	background: #fff;
}
p, ul, ol {
	position: relative;
	img {
		max-width: 100%;
	}
	&:last-child {
		margin-bottom: 0 !important;
	}
}

li {
	position: relative;
}
a {
	text-decoration: none;
	color: var(--clr-att, #f00);
	&:hover {
		text-decoration: none;
		color: var(--clr-att, #f00);
	}
}
a.link-main, .link-main {
	text-decoration: none;
	border-bottom: 1px solid;
	&:hover {
		border-bottom: none;
	}
}
h1, .h1-title,
h2, .h2-title,
h3, .h3-title,
h4, .h4-title,
h5, .h5-title,
h6, .h6-title {
	display: block;
	position: relative;
    &:first-child {
        margin-top: 0;
    }
}