
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="main-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="policy-wrap">
				<p><a href="">Поитика конфидециальнаости</a></p>
				<p>ZOOM KARTING 2025</p>
			</div>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<div class="footer-title">Контакта</div>
				<ul class="menu">
					<li>
						<div class="btn-menu">
							<div class="button-title">Москва. Туполева. 20</div>
						</div>
					</li>
					<li>
						<a href="tel:89002588715" class="btn-menu">
							<div class="button-title">7 900 258 87 15</div>
						</a>
					</li>
					<li>
						<a href="mailto:Pm@firstartstudio.ru" class="btn-menu">
							<div class="button-title">Pm@firstartstudio.ru</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="menu-wrap">
				<div class="footer-title">Меню</div>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Каталог</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">О нас</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Почему мы</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="actions-wrap">
				<div class="footer-title">Мессенджеры</div>
				<div class="soc-items">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn button-small button-text-lower">
						<div class="button-title">Связаться</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->