
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="action-inner-wrap">
			<a href="" class="btn">
				<div class="button-title">Связаться</div>
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Главная</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О нас</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Почему мы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Каталог</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="contacts-wrap">
					<ul class="menu">
						<li>
							<a href="tel:89002588715" class="btn-menu">
								<div class="button-title">7 900 258 87 15</div>
							</a>
						</li>
						<li>
							<a href="mailto:Pm@firstartstudio.ru" class="btn-menu">
								<div class="button-title">Pm@firstartstudio.ru</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->