<head>
	<title>Главная</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/fancybox.css">
	<link rel="stylesheet" href="./css/swiper-bundle.min.css">
	<link rel="stylesheet" href="./css/style.min.css">
	<script src="./js/swiper-bundle.min.js" defer></script>
	<script src="./js/fancybox.umd.js" defer></script>
	<script src="./js/scripts.js" defer></script>
	<style>
		.tile-many-lines, .text-many-lines {
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
	</style>
</head>